.cb-slideshow,
.cb-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}
.cb-slideshow:after {
    content: '';
    background: transparent url(../images/pattern1.png) repeat top left;
}
.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 130s linear infinite 0s;
    -moz-animation: imageAnimation 130s linear infinite 0s;
    -o-animation: imageAnimation 130s linear infinite 0s;
    -ms-animation: imageAnimation 130s linear infinite 0s;
    animation: imageAnimation 130s linear infinite 0s;
}
.fontGo {
    z-index: 1000;
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 39%;
    text-align: right;
    opacity: 0;
    -webkit-animation: titleAnimation 180s linear infinite 0s;
    -moz-animation: titleAnimation 180s linear infinite 0s;
    -o-animation: titleAnimation 180s linear infinite 0s;
    -ms-animation: titleAnimation 180s linear infinite 0s;
	animation: titleAnimation 180s linear infinite 0s;
}

.cb-slideshow li:nth-child(1) span {
    background-image: url(../images/1.jpg)
}
.cb-slideshow li:nth-child(2) span {
    background-image: url(../images/21.jpg);
    -webkit-animation-delay: 10s;
    -moz-animation-delay: 10s;
    -o-animation-delay: 10s;
    -ms-animation-delay: 10s;
    animation-delay: 10s;
}
.cb-slideshow li:nth-child(3) span {
    background-image: url(../images/2.jpg);
    -webkit-animation-delay: 20s;
    -moz-animation-delay: 20s;
    -o-animation-delay: 20s;
    -ms-animation-delay: 20s;
    animation-delay: 20s;
}
.cb-slideshow li:nth-child(4) span {
    background-image: url(../images/33.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
.cb-slideshow li:nth-child(5) span {
    background-image: url(../images/4.jpg);
    -webkit-animation-delay: 40s;
    -moz-animation-delay: 40s;
    -o-animation-delay: 40s;
    -ms-animation-delay: 40s;
    animation-delay: 40s;
}
.cb-slideshow li:nth-child(6) span {
    background-image: url(../images/5.jpg);
    -webkit-animation-delay: 50s;
    -moz-animation-delay: 50s;
    -o-animation-delay: 50s;
    -ms-animation-delay: 50s;
    animation-delay: 50s;
}
.cb-slideshow li:nth-child(7) span {
    background-image: url(../images/6.jpg);
    -webkit-animation-delay: 60s;
    -moz-animation-delay: 60s;
    -o-animation-delay: 60s;
    -ms-animation-delay: 60s;
    animation-delay: 60s;
}
/*.cb-slideshow li:nth-child(7) span {
    background-image: url(../images/7.jpg);
    -webkit-animation-delay: 10s;
    -moz-animation-delay: 10s;
    -o-animation-delay: 10s;
    -ms-animation-delay: 10s;
    animation-delay: 30s;
}*/
.cb-slideshow li:nth-child(8) span {
    background-image: url(../images/8.jpg);
    -webkit-animation-delay: 70s;
    -moz-animation-delay: 70s;
    -o-animation-delay: 70s;
    -ms-animation-delay: 70s;
    animation-delay: 70s;
}
.cb-slideshow li:nth-child(9) span {
    background-image: url(../images/9.jpg);
    -webkit-animation-delay: 80s;
    -moz-animation-delay: 80s;
    -o-animation-delay: 80s;
    -ms-animation-delay: 80s;
    animation-delay: 80s;
}
.cb-slideshow li:nth-child(10) span {
    background-image: url(../images/10.jpg);
    -webkit-animation-delay: 90s;
    -moz-animation-delay: 90s;
    -o-animation-delay: 90s;
    -ms-animation-delay: 90s;
    animation-delay: 90s;
}
/*.cb-slideshow li:nth-child(11) span {
    background-image: url(../images/11.jpg);
    -webkit-animation-delay: 10s;
    -moz-animation-delay: 10s;
    -o-animation-delay: 10s;
    -ms-animation-delay: 10s;
    animation-delay: 30s;
}*/
.cb-slideshow li:nth-child(11) span {
    background-image: url(../images/12.jpg);
    -webkit-animation-delay: 100s;
    -moz-animation-delay: 100s;
    -o-animation-delay: 100s;
    -ms-animation-delay: 100s;
    animation-delay: 100s;
}
.cb-slideshow li:nth-child(12) span {
    background-image: url(../images/13.jpg);
    -webkit-animation-delay: 110s;
    -moz-animation-delay: 110s;
    -o-animation-delay: 110s;
    -ms-animation-delay: 110s;
    animation-delay: 110s;
}
.cb-slideshow li:nth-child(13) span {
    background-image: url(../images/14.jpg);
    -webkit-animation-delay: 120s;
    -moz-animation-delay: 120s;
    -o-animation-delay: 120s;
    -ms-animation-delay: 120s;
    animation-delay: 120s;
}
/*.cb-slideshow li:nth-child(15) span {
    background-image: url(../images/15.jpg);
    -webkit-animation-delay: 10s;
    -moz-animation-delay: 10s;
    -o-animation-delay: 10s;
    -ms-animation-delay: 10s;
    animation-delay: 30s;
}*/


@-webkit-keyframes imageAnimation {
    0% {
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -webkit-animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        -webkit-transform: scale(1.1) rotate(3deg);
    }
    25% {
        opacity: 0;
        -webkit-transform: scale(1.1) rotate(3deg);
    }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation {
    0% {
        opacity: 0;
        -moz-animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -moz-transform: scale(1.05);
        -moz-animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        -moz-transform: scale(1.1) rotate(3deg);
    }
    25% {
        opacity: 0;
        -moz-transform: scale(1.1) rotate(3deg);
    }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation {
    0% {
        opacity: 0;
        -o-animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -o-transform: scale(1.05);
        -o-animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        -o-transform: scale(1.1) rotate(3deg);
    }
    25% {
        opacity: 0;
        -o-transform: scale(1.1) rotate(3deg);
    }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation {
    0% {
        opacity: 0;
        -ms-animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -ms-transform: scale(1.05);
        -ms-animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        -ms-transform: scale(1.1) rotate(3deg);
    }
    25% {
        opacity: 0;
        -ms-transform: scale(1.1) rotate(3deg);
    }
    100% { opacity: 0 }
}
@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        transform: scale(1.1) rotate(3deg);
    }
    25% {
        opacity: 0;
        transform: scale(1.1) rotate(3deg);
    }
    100% { opacity: 0 }
}
@-webkit-keyframes titleAnimation {
    0% {
        opacity: 0;
        -webkit-transform: translateX(0px);
    }
    8% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
    17% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
    19% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
    50% { opacity: 1 }
    100% { opacity: 1 }
}
@-moz-keyframes titleAnimation {
    0% {
        opacity: 0;
        -moz-transform: translateX(0px);
    }
    8% {
        opacity: 1;
        -moz-transform: translateX(0px);
    }
    17% {
        opacity: 1;
        -moz-transform: translateX(0px);
    }
    19% {
        opacity: 1;
        -moz-transform: translateX(0px);
    }
    50% { opacity: 1 }
    100% { opacity: 1 }
}
@-o-keyframes titleAnimation {
    0% {
        opacity: 0;
        -o-transform: translateX(0px);
    }
    8% {
        opacity: 1;
        -o-transform: translateX(0px);
    }
    17% {
        opacity: 1;
        -o-transform: translateX(0px);
    }
    19% {
        opacity: 1;
        -o-transform: translateX(0px);
    }
    50% { opacity: 1 }
    100% { opacity: 1 }
}
@-ms-keyframes titleAnimation {
    0% {
        opacity: 0;
        -ms-transform: translateX(0px);
    }
    8% {
        opacity: 1;
        -ms-transform: translateX(0px);
    }
    17% {
        opacity: 1;
        -ms-transform: translateX(0px);
    }
    19% {
        opacity: 1;
        -ms-transform: translateX(0px);
    }
    50% { opacity: 1 }
    100% { opacity: 1 }
}


@keyframes titleAnimation {
	0% {
	    opacity: 0;
	    transform: translateX(0px);
	}
	8% {
	    opacity: 1;
	    transform: translateX(0px);
	}
	17% {
	    opacity: 1;
	    transform: translateX(0px);
	}
	50% { opacity: 1 }
	100% { opacity: 1 }
}
/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}

.fontGo section {
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    padding: 0 20px;
    line-height: 35px;
    color: #0a70d3;
    background-color:#000; opacity:0.7;filter:alpha(opacity=50);
}

h1, h2, h3, h4, h5, h6 {
  color: #800080;
  padding: 0;
  margin: 0 0 20px;
  line-height: 1.2;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 20px;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 40px;
}

h2 {
  color: #800080;
}

h3, h4, h5, h6 {
  color: #800080;
}


ul {
    display: block;
    list-style-type: disc;
    -webkit-padding-start: 40px;
}

